extends layout.pug

include utils.pug

block content
  .login-container
    .content-box
      h1 Sign in to Shouldsees
      .content
        fieldset
          +validationErrorSummary(errors)
          form(action='/users/login' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            div(class='login-forms')
              +field('Email address', 'email', email)
            div(class='login-forms')
              +field('Password', 'password', null, 'password')
            div(class='bottom-login-register-buttons')
              button(type='submit' id= 'login' class='btn btn-login') Login
              a(href='/' id= 'cancel' class='cancel-login') Cancel
          div
            p: a(href='/users/register') Don't have an account?
