.login-container {
    display: flex;
    justify-content: flex-end;
}

.login-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px black solid;
    align-items: center;
    padding: 10px;
    margin: 10px;
    width: 600px;
}

.form-group {
}
