extends layout.pug

block content
    body
       h1 My Shows
            a(href='') Currently Watching
                table
                    thead
                        tr
                            th Image
                            th Title
                            th Release Date
                            th Critic Rating
                            th My Rating
                    tbody
            a(href='') Want to Watch
                table
                    thead
                        tr
                            th Image
                            th Title
                            th Release Date
                            th Critic Rating
                            th My Rating
                    tbody
            a(href='') Have Watched
                table
                    thead
                        tr
                            th Image
                            th Title
                            th Release Date
                            th Critic Rating
                            th My Rating
                    tbody
